<!DOCTYPE html>

<html>

<head>
    <script src="vue.js"></script>

    <title>
        Hello Vue.js
    </title>
</head>

<body>

    <div id="app">
        <div v-html="name"></div>
        <br>
        <ul>
            <li v-for="item in list">
                {{item}}
                <button @click="deleteItem(item)">
                    -
                </button>

            </li>
            <li v-if="newItem">{{newItem}}</li>
        </ul>
        <input v-model="newItem" />
        <br>
        <button @click="addItem">Add</button>
        <br>
        <br>
        <form v-on:submit.prevent="saveData">
            <input type="text" name="test" v-model="inputTxt" />
            <button type="submit">GO</button>
        </form>

    </div>

    <script src="index.js"></script>

</body>

</html>